@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="tickets"></div>

<script type="text/javascript" src="~/dist/tickets.js"></script>

<script type="text/javascript">
    // TODO: VueJs
    /*document.addEventListener('DOMContentLoaded', function () {
        $('#ticket-tabs a').on('click', function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    }, false);*/
</script>